<!doctype html>
<html lang="en" ng-app="weatherApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <title>Starter Node and Angular</title>

    <!-- CSS
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <!-- JS -->
    <script src="../libs/angular/angular.min.js"></script>
    <script src="../libs/angular-route/angular-route.min.js"></script>
    <script src="https://jvandemo.github.io/angularjs-google-maps/dist/angularjs-google-maps.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?libraries=places,geometry&key=AIzaSyDCgmYbvovRC_i-sup554mIbMvI8J1JiUU'></script>

    <!--AIzaSyCIVEIGZq8pM9fngiXqaykTdJHzS0accuE'></script>-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://gitcdn.link/cdn/darkskyapp/skycons/master/skycons.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="../js/app.js"></script>
    <script src="../js/controllers/MainCtrl.js"></script>
    <script src="../js/controllers/UserCtrl.js"></script>
    <script src="../js/approutes.js"></script>



</head>
<body ng-controller="MainController">
    <div class="center" id="user_welcome" ng-show="currentUser.name">
        <h3>Welcome {{currentUser.name}}!</h3>
        <div ng-show="historyHidden">
            <button type="submit" class="pure-button pure-button-primary" ng-click="showHistory()">View Search History</button>
        </div>
        <div ng-show="historyShow">
            <button type="submit" class="pure-button pure-button-primary" ng-click="hideHistory()">Hide Search History</button>
            <ul>
                <li ng-repeat="search in currentUser.searches">{{search}}</li>
            </ul>
        </div>
        <br>
        <button type="submit" class="pure-button pure-button-primary" ng-click="signOut()">Sign Out</button>
    </div>

    <div class="center" id="search_area">
        <h3>Welcome to the Bluewolf Weather Service</h3>
        <p>Search for the current weather, forecast, and historic weather data by entering a location:</p>
        <form class="pure-form" ng-submit="submit()">
            <input type="text" gm-places-autocomplete ng-model="autocomplete" style="width: 300px;"/>
            <button type="submit" class="pure-button pure-button-primary">Get Weather</button>
      </form>
  </div>

  <div class="weather_results center" ng-show="currentSummary">
  <div id="current_weather">
        <h3>Current Weather</h3>
        <canvas id="icon1" width="128" height="128" float="left"></canvas>
        <ul>
            <li>Summary: {{currentSummary}}</li>
            <li>Temperature: {{ currentTemp }}</li>
            <li>Wind Speed: {{ currentWindSpeed }}</li>
            <li>Cloud Cover: {{ currentCloudCover*100 }}%</li>
        </ul>
    </div>
    <div id="current_forecast">
        <h3>Forecast</h3>

        <ul>
          <li>{{ currentForecast}} </li>
      </ul>
      <canvas id="icon2" width="128" height="128"></canvas>
  </div>

  <div id="container" style="width:100%; height:400px;"></div>

</div>

  <div class="center" id="login_registration" ng-hide="currentUser.name">
      <h3>To save your weather searches, sign in here:</h3>
      <form class="pure-form" ng-submit="signin()">
            <input type="text" ng-model="usernameL" placeholder="Username" style="width: 200px;"/>
            <input type="password" ng-model="passwordL" placeholder="Password" style="width: 200px;"/>
            <button type="submit" class="pure-button pure-button-primary">Sign In</button>
      </form>
      <h3>Don't have a Username? Register here:</h3>
      <form class="pure-form" ng-submit="register()">
            <input type="text" ng-model="username" placeholder="New Username" style="width: 200px;"/>
            <input type="password" ng-model="password" placeholder="New Password" style="width: 200px;"/>
            <button type="submit" class="pure-button pure-button-primary">Register</button>
      </form>
  </div>



</div>

</body>
</html>
